anndata>=0.10.3
anndata2ri>=2.0
cellanova>=0.1.0
cellphonedb>=5.0.1
cycler>=0.12.1
cytotrace2_py>=1.1.0.4
datatable>=1.1.0
gseapy>=1.1.10
infercnvpy>=0.5.0
ktplotspy>=0.3.2
matplotlib>=3.5.0
memento_de>=0.1.0
muon>=0.1.7
networkx>=3.5
numpy>=1.21.0
pandas>=2.3.3
plotnine>=0.15.0
PyComplexHeatmap>=1.8.3
pyVIA>=0.2.4
rpy2>=3.6.4
rpy2_rinterface>=3.6.3
rpy2_robjects>=3.6.3
scanpy>=1.9.5
scikit_learn>=1.7.2
scipy>=1.16.3
scirpy>=0.22.3
seaborn>=0.13.2
statsmodels>=0.14.5
supervenn>=0.5.0
